
<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml"><head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Realive : House hunt simplified</title>
        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="css/landing-page.css" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="js/jquery.js"></script>
        <script src="our_ajax.js"></script>
        <script>
            function getParameterByName(name) {
                name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
                var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
                return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
            }
            id = getParameterByName('id');
            campaign = getOneCampaign(id);
            console.log(campaign);
        </script>

    <script src="http://connect.facebook.net/en_US/all.js"></script>


<script>
	FB.init({appId: '1433546090279923', xfbml: true, cookie: true});
	function FacebookInviteFriends()
	{
		FB.ui({
          	method: 'send',
          	name: 'People Argue Just to Win',
          	link: 'http://localhost:5000/static/campaign?id=553c6ddf7e62737e1b269ca4',
          	to: 841888432568719,
          	description: 'Job Campaign'
          });
	}
</script>
<
    </head> 
    <body>
        <!-- Navigation -->
     <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">Realive</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="http://localhost:5000/logout">Logout</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
            <!-- Header -->
            <a name="about"></a>
            <div class="intro-header">
                <div class="container">

    <div class="row user-menu-container square">
        <div class="col-md-7 user-details">
            <div class="row coralbg white">
                <div class="col-md-6 no-pad">
                    <div class="user-pad">
                        <h3>Need a fun &amp; silent place</h3>
                        <h4 class="white"> 26th June, 2014</h4>
                        <h4 class="white"><i class="fa fa-clock-o"></i> 12 days remaining</h4>
                        <a href='#' onclick="FacebookInviteFriends();"> Facebook Invite Friends Link </a>

                    </div>
                </div>
                <div class="col-md-6 no-pad">
                    <div class="user-image">
                        <img src="img/pic1.jpg" class="img-responsive thumbnail">
                    </div>
                </div>
            </div>
            <div class="row overview">
                <div class="col-md-4 user-pad text-center">
                    <h3>City</h3>
                    <h4>Bangalore</h4>
                </div>
                <div class="col-md-4 user-pad text-center">
                    <h3>Budget</h3>
                    <h4><i class="fa fa-inr"></i> 10,000</h4>
                </div>
                <div class="col-md-4 user-pad text-center">
                    <h3>Move-in By</h3>
                    <h4>18th May</h4>
                </div>
            </div>
        </div>
        <div class="col-md-1 user-menu-btns">
            <div class="btn-group-vertical square" id="responsive">
                <a href="#" class="btn btn-block btn-default">
                  <i class="fa fa-comment-o fa-3x"></i>
                </a>
                <a href="#" class="btn btn-default">
                  <i class="fa fa-map-marker fa-3x"></i>
                </a>
                <a href="#" class="btn btn-default">
                  <i class="fa fa-smile-o fa-3x"></i>
                </a>
                <a href="#" class="btn btn-default active">
                  <i class="fa fa-list-ol fa-3x"></i>
                </a>
            </div>
        </div>
        <div class="col-md-4 user-menu user-pad">
            <div class="user-menu-content">
                <h3>Campaign Message</h3>
<div class="well">
    <p> Hey I am PK ... i NEED  a place to live. which is like ...  </p> </div>

                
            </div>
            <div class="user-menu-content">
                <h3>Locality Type</h3>
                <ul class="user-menu-list">
                    <li>
                        <h4><small class="coral"> <i class="fa fa-glass"></i></small> Happening</h4>
                    </li>
                    
                    <li>
                        <h4><small class="coral"><i class="fa fa-clock-o"></i></small> Young Crowd</h4>
                    </li>
                    
                </ul>
            </div>
            <div class="user-menu-content">
                <h3>Hobbies</h3>
                <div class="row">
                    
                    <ul class="user-menu-list">
                    <li>
                        <h4><small class="coral"> <i class="fa fa-bus"></i></small> Travel</h4>
                    </li>
                    
                    <li>
                        <h4><small class="coral"><i class="fa fa-shopping-cart"></i></small> Shopping </h4>
                    </li>
  
                    <li>
                        <h4><small class="coral"> <i class="fa fa-soccer-ball-o"></i></small> Sports </h4>
                    </li>
                    
                </ul>
                </div>
            </div>
            <div class="user-menu-content active">
                <h2 class="text-center">Priorities</h2>
                <div class="row">
                    
                    <ul class="user-menu-list">
                    <li>
                        <h4><small class="coral"> <i class="fa fa-wheelchair"></i></small> Friendly to Physically Disabled</h4>
                    </li>
                    
                    <li>
                        <h4><small class="coral"><i class="fa fa-university"></i></small> Near to School</h4>
                    </li>
  
                    <li>
                        <h4><small class="coral"> <i class="fa fa-desktop"></i></small> Near to SAP Labs India</h4>
                    </li>
                    
                </ul>
                </div>
                
            </div>
        </div>
    </div>
   
    <div class = "well small-well">
<div id="map-canvas" style="height:70%; width:100%;"></div>
     <form class="form-horizontal" action="" method="post">
    <fieldset>
        
        <br>
        <div class="row">
        <div class="form-group">
            <div class="col-md-7">
            <div class="col-md-12">
                <input id="n1" name="location-1" type="text" placeholder="Suggested Place 1" class="form-control">
            </div>
                        <div class="col-md-12">
                <input id="n2" name="location-2" type="text" placeholder="Suggested Place 2" class="form-control">
            </div>
      
            
</div>

<div class="col-md-5" >  <button type="button" id="submit-form" class="btn btn-success btn-lg">
 <i class="fa fa-flag-checkered"></i>
 Submit Suggestions
</button></div>
        </div>
        </div>

    </fieldset>
</form>
</div>
                    </div>
                </div>
            
            <!-- /.container -->
        
        <!-- /.intro-header -->
        <!-- Page Content -->
        
        <!-- /.container -->
    
    <!-- /.content-section-a -->
    <!-- /.banner -->
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">⋅</li>
                        <li>
                            <a href="https://github.com/raun/Realive"> <i class="fa fa-github fa-fw"></i> Source Code </a>
                        </li>
                        <li class="footer-menu-divider">⋅</li>
                    </ul>
                    <p class="copyright text-muted small">Copyright © Realive 2015. All Rights Reserved</p>
                </div>
            </div>
        </div>

        
 <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div id="imaginary_container"> 
                <div class="input-group stylish-input-group">
                    <input id = "pac-input" type="text" class="form-control"  placeholder="Search" >
                </div>
            </div>
        </div>
    </div>
        

        <input type="hidden" id="lat1"> </input>
        <input type="hidden" id="lng1"> </input>
        <input type="hidden" id="lat2"> </input>
        <input type="hidden" id="lng2"> </input>
    </footer>
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
    <script type="text/javascript"> 
    $(document).ready(function() {
    var $btnSets = $('#responsive'),
    $btnLinks = $btnSets.find('a');
 
    $btnLinks.click(function(e) {
        e.preventDefault();
        $(this).siblings('a.active').removeClass("active");
        $(this).addClass("active");
        var index = $(this).index();
        $("div.user-menu>div.user-menu-content").removeClass("active");
        $("div.user-menu>div.user-menu-content").eq(index).addClass("active");
    });
});

$(".submit-form").alert('close');
</script>
<script type="text/javascript">
    var count = 1;
        function initialize() {
        
        var markers = [];
        var map = new google.maps.Map(document.getElementById('map-canvas'), {
        mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        
        var defaultBounds = new google.maps.LatLngBounds(
        new google.maps.LatLng(13.0400, 77.5900),
        new google.maps.LatLng(12.8500, 77.7500));
        map.fitBounds(defaultBounds);
        
        // Create the search box and link it to the UI element.
        var input = /** @type {HTMLInputElement} */(
        document.getElementById('pac-input'));
        map.controls[google.maps.ControlPosition.LEFT_TOP].push(input);
        
        var searchBox = new google.maps.places.SearchBox(
        /** @type {HTMLInputElement} */(input));
        
        // [START region_getplaces]
        // Listen for the event fired when the user selects an item from the
        // pick list. Retrieve the matching places for that item.
        google.maps.event.addListener(searchBox, 'places_changed', function() {
        if (count == 3) {
        return;
        }
        var places = searchBox.getPlaces();
        
        if (places.length == 0) {
        return;
        }
        for (var i = 0, marker; marker = markers[i]; i++) {
        marker.setMap(null);
        }
        
        // For each place, get the icon, place name, and location.
        markers = [];
        var bounds = new google.maps.LatLngBounds();
        for (var i = 0, place; place = places[i]; i++) {
        var image = {
        url: place.icon,
        size: new google.maps.Size(71, 71),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(17, 34),
        scaledSize: new google.maps.Size(30, 30)
        };
        
        // Create a marker for each place.
        var marker = new google.maps.Marker({
        map: map,
        icon: image,
        title: place.name,
        position: place.geometry.location
        });
        
        var latlng = place.geometry.location;
        var lat = latlng.lat();
        var lng = latlng.lng();
        var loc = document.getElementById("pac-input").value;
        
        if (count == 1) {
        document.getElementById("lat1").value = lat;
        document.getElementById("lng1").value = lng;
        document.getElementById("n1").value = loc;
        count++;
        } else if (count == 2) {
        document.getElementById("lat2").value = lat;
        document.getElementById("lng2").value = lng;
        document.getElementById("n2").value = loc;
        count++;
        }
        
        markers.push(marker);
        
        bounds.extend(place.geometry.location);
        }
        
        map.fitBounds(bounds);
        map.setZoom(15);
        });
        // [END region_getplaces]
        
        // Bias the SearchBox results towards places that are within the bounds of the
        // current map's viewport.
        google.maps.event.addListener(map, 'bounds_changed', function() {
        var bounds = map.getBounds();
        searchBox.setBounds(bounds);
        });
        }
        
        google.maps.event.addDomListener(window, 'load', initialize);
        
</script>


</body></html>